
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  padding-bottom: 30px;
}

h2 {
  color: #4CAF50;
  text-align: center;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button[type="submit"],
button[type="button"] {
  background: #4CAF50;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background: #45a049;
}

hr {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 20px 0;
}

.text-danger {
  color: #e74c3c;
}

div {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
      width: 95%;
  }

  input[type="text"],
  input[type="number"] {
      width: 100%;
  }
}

.container {
  margin: auto; 
  justify-content: center;
  display: flex;
}

/* Style for the form container */
.form {
  display: flex;
}

/* Style for the left column */
.form-left {
  width: 350px;
  margin-right: 20px;
  margin-left: 10px;
}

/* Style for the right column */
.form-right {
  width: 350px;
  border-left: 1px solid #ccc; /* Optional: for a visual separator */
  padding-left: 20px; /* Optional: space between separator and content */
}

/* Style for the form elements */
.form-left div, .form-right div {
  margin-bottom: 10px;
}

button[type="button"] {
  margin-top: 10px;
}